.react-confirm-alert-body {
    background-color: #222 !important;  /* Fondo oscuro */
    color: white !important;            /* Texto blanco */
    border-radius: 8px !important;       /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important;
  }
  
  .react-confirm-alert-button-group button {
    background-color: #d9534f !important;  /* Color rojo para eliminar */
    color: white !important;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    font-weight: bold;
  }
  
  .react-confirm-alert-button-group button:last-child {
    background-color: #6c757d !important;  /* Color gris para cancelar */
  }
  